@wiseed:registry=https://wiseed-534892073087.d.codeartifact.eu-west-3.amazonaws.com/npm/npm/
//wiseed-534892073087.d.codeartifact.eu-west-3.amazonaws.com/npm/npm/:_authToken=${CODEARTIFACT_AUTH_TOKEN}